.calculator {
    border: 1px solid rgba(105, 105, 105, 0.828);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 390px;
    display: flex; 
    flex-direction: column; 
    align-content: stretch;  
    background-color: rgb(213, 213, 213)
  }


.calculator-display { 
    width: 351px;
    font-size: 30px;
    height: 70px;
    border: none;
    background-color: grey;
    color: #fff;
    text-align: right;
    border-top-right-radius: 10px; 
    border-top-left-radius: 10px; 
    font-weight: bold; 
}

.previous-operand { 
    font-size: 20px; 
}


.item { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 10px; 
    column-gap: 10px;
    padding: 20px;
}

.equals-key { 
    background-color: darkseagreen;
    
}

.equals-key:hover { 
    background-color: rgb(87, 144, 87);
}

.clear-button { 
    background-color: darksalmon;  
    
}

.clear-button:hover { 
    background-color:rgb(236, 114, 73);
}

button { 
    height: 60px; 
    width: 70px; 
    border: 0.5px solid  #ccc; 
    font-weight: bold; 
}

button:hover { 
    background-color:  #ccc;
}

.warning-text { 
    display: flex; 
    border: 1px solid red; 
    justify-content: center;
} 



